* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Grandstander', cursive;
}

body{
    background: #594F4F;
    background: -moz-linear-gradient(-45deg, #1d4946  10%, #594F4F 100%);
    background: -webkit-linear-gradient(-45deg, #1d4946  10%, #594F4F    100%);
    background: linear-gradient(200deg, #1d4946  10%, #594F4F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4946 ', endColorstr='594F4F   ', GradientType=1 );
}

h1 {
    text-align: center;
    font-size: 45px;
    text-transform: capitalize;
    padding: 60px 10px 40px;
}

h3{
    text-align: center;
    font-size: 25px;

}

form {
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: 0 auto;
}

.fline {
    width: 100%;
    border-radius: 10px;
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    justify-content: space-between;
    margin-bottom: 10px;
}

input[type="button"] {
    width: 80px;
    margin-left: 20px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid ;
    outline: none;
    font-size: 20px;
}

input[type="text"] {
    border-radius: 10px;
    border: 2px solid ;
    outline: none;
    text-align: center;
    width: 250px;
    font-size: 20px;  
}

.form-grp{
    /* border: 2px solid black; */
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 40px;
}

select{
    width: 80%;
    height: 50px;
    margin-left: 40px;
    outline: none;
    border-radius: 25px;
    border: 2px solid ;
    cursor: pointer;
    font-size: 20px;
    text-align-last: center;  
}

.sbt{
    /* border: 2px solid black; */
    border: 2px solid black;
    padding: 30px;
    border-color: black;
}

input[type="submit"] {
    width: 80%;
    height: 50px;
    margin-left: 40px;
    outline: none;
    border-radius: 25px;
    border: 2px solid ;
    cursor: pointer;
    font-size: 20px;  
}
a{
    border: 2px;
    color:black;
    background-color: white;
    margin: 2%;
    padding: 10px;
    text-decoration:none;
}